body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-x: hidden;
    margin: 0px;
    background-color: black;
  }
  
#page {
  display: grid;
}
#chartdiv {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 560px;
  background-color: #101010;
  grid-area: 1 / 1;
  }
  
#bottom-label {
  font-family: "Helvetica Neue Bold";
  background-color: white;
  width: 100%;
  height: 80px;
  line-height: 12px;
  font-size: 35px;
  text-align: center;
  grid-area: 2 / 1;
}
  


a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.navBar{
  font-family: 'Times New Roman', Times, serif;
  background-color: maroon;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navBar .sections h2 {
  display: inline;
  font-size: 30px;
  padding-right: 30px;
  color: white;
  font-weight: lighter;
}
