

/* Initial for the body ---------------------------------------------------------*/ 

body {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    background-color: #252b3b;
    color: #1EFF00;
    }

.purple {
    color: #e100ff;
}

.blue {
    color: #001eff;
}

.red {
    color:#ff001e;
}

.nodisplay {
    display: none;
}


a {
    text-decoration: none; /* Removes the underline */
}

a:hover {
    color: #e100ff; /* Sets the link text color to blue on hover */
    text-decoration: none; /* Removes the underline on hover */
    text-shadow: 0 0 5px #e100ff, 
                 0 0 10px #e100ff, 
                 0 0 15px #e100ff; /* Creates a magenta glow effect based on the color #e100ff */
}

.red a:hover {
    color: white; /* Sets the link text color to blue on hover */
    text-decoration: none; /* Removes the underline on hover */
    text-shadow: 0 0 5px #ff001e, 
                 0 0 10px #ff001e, 
                 0 0 15px #ff001e; /* Creates a magenta glow effect based on the color #e100ff */
}

/* Hero Section  ---------------------------------------------------------*/ 

.hero-section {
    height: 100vh; /* Makes hero occupy full viewport height */
    display: flex; /* Used to center the content */
    align-items: center; /* Centers content vertically */
    justify-content: center; 
}

/* For tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .element0 {
        font-size: 1.3rem;
    }
}

/* For desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .element0 {
        font-size: 1.5rem;
    }
}

/* For large desktops */
@media (min-width: 1200px) {
    .element0 {
        font-size: 2rem;
    }
}


.half {
    width: 50%;
    min-width: 400px;
}


.type1 {
    white-space: pre-wrap; /* Allows <br/> to be interpreted as line breaks */
}



/* About  ---------------------------------------------------------*/ 
.about-image {
    max-width: 30vw;
    width: 30vw;
    min-width: 100px;
    height: auto;
    border-radius: 25px;
}

/* For mobile devices */
@media (max-width: 576px) { /* This targets devices with a max-width of 576px, typically smartphones */
    #about .display-4 { /* Targets the .display-4 class within the #about section */
        font-size: 1.8rem; /* Adjusts the font size */
    }
}


/* Experience Section  ---------------------------------------------------------*/ 

#timeline {
    margin: 0;
    padding: 0;
    background-color: #3F0071;
}


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    color: black;
    font-family: 'Poppins', sans-serif;
  }

  .tl-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }

  @keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }

.tl-container:nth-child(1) {
    animation-delay: 0s;
  }
.tl-container:nth-child(2) {
    animation-delay: 1s;
}
.tl-container:nth-child(3) {
    animation-delay: 2s;
}
.tl-container:nth-child(4) {
    animation-delay: 3s;
}


  .text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
  }

  .left-tl-container {
    left: 0;
  }

  .right-tl-container {
    left:50%;
  }

  .tl-container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }

  .right-tl-container img {
    left: -20px;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards;
    border-radius: 30%;
  }

  @keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
  }

  .text-box h5 {
    font-weight: 600;
  }

  .text-box small {
    display: inline-block;
    margin-bottom: 10px;
  }

  .left-tl-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;

  }

  .right-tl-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;

  }

  @media screen and (max-width:600px) {
    .timeline {
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .tl-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-tl-container {
        left: 0;
    }

    .left-tl-container img, .right-tl-container img {
        left: 10px;
    }

    .left-tl-container-arrow, .right-tl-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
  }




  /* Footer Section  ---------------------------------------------------------*/ 