html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Ensure the content is still scrollable */
html {
  overflow-y: scroll;
}
/* Initial for the body ---------------------------------------------------------*/

body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background-color: #252b3b;
  color: #1eff00;
}

.purple {
  color: #e100ff;
}

.blue {
  color: #001eff;
}

.red {
  color: #ff001e;
}

.nodisplay {
  display: none;
}

a {
  text-decoration: none; /* Removes the underline */
}

a:hover {
  color: #e100ff; /* Sets the link text color to blue on hover */
  text-decoration: none; /* Removes the underline on hover */
  text-shadow: 0 0 5px #e100ff, 0 0 10px #e100ff, 0 0 15px #e100ff; /* Creates a magenta glow effect based on the color #e100ff */
}

.red a:hover {
  color: white; /* Sets the link text color to blue on hover */
  text-decoration: none; /* Removes the underline on hover */
  text-shadow: 0 0 5px #ff001e, 0 0 10px #ff001e, 0 0 15px #ff001e; /* Creates a magenta glow effect based on the color #e100ff */
}

/* Hero Section  ---------------------------------------------------------*/

/* For tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .element0 {
    font-size: 1.3rem;
  }
}

/* For desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .element0 {
    font-size: 1.5rem;
  }
}

/* For large desktops */
@media (min-width: 1200px) {
  .element0 {
    font-size: 2rem;
  }
}

.half {
  width: 50%;
  min-width: 400px;
}

.type1 {
  white-space: pre-wrap; /* Allows <br/> to be interpreted as line breaks */
}

/* About  ---------------------------------------------------------*/
.about-image {
  max-width: 30vw;
  width: 30vw;
  min-width: 100px;
  height: auto;
  border-radius: 25px;
}

/* For mobile devices */
@media (max-width: 576px) {
  /* This targets devices with a max-width of 576px, typically smartphones */
  #about .display-4 {
    /* Targets the .display-4 class within the #about section */
    font-size: 1.8rem; /* Adjusts the font size */
  }
}

/* Experience Section  ---------------------------------------------------------*/

@media (max-width: 576px) {
  /* This targets devices with a max-width of 576px, typically smartphones */
  #experience .display-4 {
    /* Targets the .display-4 class within the #experience section */
    font-size: 1.8rem; /* Adjusts the font size */
  }
}

#experience-content {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#experience-content ul {
  list-style-type: disc;
  font-size: small;
  padding-left: 20px;
  margin-bottom: 1em;
  margin-left: 5px;
  --tw-text-opacity: 1;
  color: rgb(220 220 220 / var(--tw-text-opacity));
}

#experience-content ul li {
  margin-bottom: 4px;
}

.text-secondary {
  color: rgb(255, 255, 255);
}

.timeline-with-icons {
  border-left: 2px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -57px;
  background-color: white;
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animation Section For Sliding  ---------------------------------------------------------*/
.hidden,
.hidden2 {
  will-change: transform, opacity;
}

.hidden {
  opacity: 0;
  transform: translateX(-40%);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.hidden2 {
  opacity: 0;
  transform: translateX(20%);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

/*    Footer stuff    */
.social-btn-container {
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center; /* Centers the buttons vertically */
}

.social-btn {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Makes the buttons rounded */
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: white;
}

.social-btn-container .social-btn:hover {
  background-color: #ffffff; /* Sets the button background to white on hover */
  color: #000000; /* Sets the icon/text color to black (or any contrasting color) for visibility */
}

.social-btn-container .social-btn:hover i {
  color: #000000;
  text-decoration: none; /* Removes the underline on hover */
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white; /* Sets the color of the Font Awesome icon to black (or any contrasting color) on hover */
}
